@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  // transition: 0.3s background-color;
}

html {
  box-sizing: border-box;
  height: 2000px;
  max-width: 100%;
}

@layer base {
  html {
    font-family: 'Nunito Sans', sans-serif;
  }
}

@layer components {
}

.test {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  border-width: 0 0 30px 95.5vw;
  border-color: transparent transparent blue #fafbfe;
}
